.dairy_image{
    margin-left: 30%;
   
   width: 40%;
   height: 65vh;
   background-image: url("D:\App development\loginapp\src\Images\Dairy-main.jpeg");
   background-repeat: no-repeat;
   background-size: 90%;
   /* background-size: cover; */
   
}
.dairy_page {
    padding: 20px;
  }
  .dairy_description {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
  }
  
  .dairy_product {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    text-align: center;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.5s ease;
    
  }
  .dairy_product:hover{transform: scale(1.2);}
  .dairy_product img {
    width: 200px;
    height: 200px;
    object-fit: cover;
  }
  
  .dairy_product h2 {
    font-size: 1.5rem;
    margin: 10px 0;
  }
  
  .dairy_product p {
    font-size: 1rem;
    color: #555;
  }
  
  .dairy_product button {
    background-color: #4CAF50; /* Primary Color */
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .dairy_product button:hover {
    background-color: #45a049;
  }