/* Navbar.css */

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #f4f4f9;
}

.Navbar_main {
  height: 100px;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: right;
  background-color: #433D8B; /* Primary Color */
  text-align: center;
  z-index: 2000;
  animation: slideIn 0.5s ease-in-out;
}
.Navbar_main select{
  border-radius: 5px;
}

.title {
  color: white;
  text-align: left;
  margin-right: 500px;
  display: flex;
  align-items: center;
}

.icon {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.icon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.Navbar_main select {
  background-color: #FFC107; /* Secondary Color */
  color: #333333; /* Text Color */
  /* margin-top: 20px; */
  margin-right: 20px;
  height: 40px;
  border: none;
  background-color: white;
  color: black;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.Navbar_main select:hover {
  background-color: wheat;
  transform: scale(1.05);
}

.Navbar_main button {
  background-color: #FFC107; /* Secondary Color */
  color: #333333; /* Text Color */
  /* margin-top: 20px; */
  margin-right: 20px;
  height: 40px;
  border: none;
  background-color: white;
  color: black;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.Navbar_main button:hover {
  background-color: wheat;
  transform: scale(1.05);
}

.profile-icon {
  margin-top: 20px;
  margin-right: 20px;
  width: 40px;
  height: 40px;
  font-size: 24px;
  color: white;
  cursor: pointer;
}

.profile-icon:hover {
  color: wheat;
}


.profile-dropdown {
  position: absolute;
  /* top: 80px; Adjust based on your Navbar height */
  right: 20px; 
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  z-index: 1000;
  color: #333333;
}

.profile-dropdown button {
  width: 100%;
  padding: 10px;
  background: none;
  border: none;
  text-align: left;
  cursor: pointer;
  color: #333333;
}

.profile-dropdown button:hover {
  background-color: #f4f4f9;
}

@keyframes slideIn {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
